<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963546447458-5i31nnj7i4ep26dddhbqofa6nqgoqtqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963546447458-5i31nnj7i4ep26dddhbqofa6nqgoqtqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDby3mCIaABQPlgicdg822Mq6ZUru2ph-k</string>
	<key>GCM_SENDER_ID</key>
	<string>963546447458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kelou.marxInsulinCalculator</string>
	<key>PROJECT_ID</key>
	<string>marx-861fa</string>
	<key>STORAGE_BUCKET</key>
	<string>marx-861fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963546447458:ios:6b921cba36658d11151b3b</string>
	<key>DATABASE_URL</key>
	<string>https://marx-861fa-default-rtdb.firebaseio.com</string>
</dict>
</plist>